#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(./contact.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

#contact .row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#contact .col{
    width: 20vw;
    margin-bottom: 5vh;
}

#contact a{
    color: rgb(0, 255, 255);
}

#contact .emailPerson input{
    width: 50vw;
    margin-bottom: 2vh;
    padding: 1%;
    border-radius: 5px;
}

#contact .emailMessage textarea{
    width: 50vw;
    height: 20vh;
    margin-bottom: 2vh;
    padding: 1%;
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#contact button{
    border-radius: 5px;
    min-width: 120px;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact #sendingMessage{
    animation-name: spinning;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-direction: normal;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spinning{
    0%{transform: rotateZ(0deg);}
    50%{transform: rotateZ(180deg);}
    100%{transform: rotateZ(360deg);}
}

@media screen and (max-width: 992px){
    #contact .row{
        flex-direction: column;
        width: 100vw;
        align-items: center;
        margin: 0;
    }
    #contact .col{
        width: 90vw;
        margin: 0;
    }
    #contact .container{
        width: 100%;
        margin: 0;
        overflow: auto;
    }
    #contact .emailPerson input{
        width: 80vw;
        margin-top: 2vh;
        margin-bottom: 1vh;
    }
    
    #contact .emailMessage textarea{
        width: 80vw;
        height: 10vh;
        margin-bottom: 1vh;
    }
    #contact button{
        min-width: 120px;
    }
}